/* ============================
   Fade Up Animation
============================ */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:
        translateY(30px)
        scale(.96);

    }

    to{

        opacity:1;

        transform:
        translateY(0)
        scale(1);

    }

}

.intro-subtitle{

    opacity:0;

    animation:fadeUp .9s ease forwards;

}

.intro-title{

    opacity:0;

    animation:fadeUp .9s ease forwards;

    animation-delay:.5s;

}

.intro-tagline{

    opacity:0;

    animation:fadeUp .9s ease forwards;

    animation-delay:1s;

}